<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/7%EC%9B%94/7%EC%9B%94%204%EC%A3%BC%EC%B0%A8/0727.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 10170

In [1]:
print("NFC West       W   L  T")
print("-----------------------")
print("Seattle        13  3  0")
print("San Francisco  12  4  0")
print("Arizona        10  6  0")
print("St. Louis      7   9  0")
print("")
print("NFC North      W   L  T")
print("-----------------------")
print("Green Bay      8   7  1")
print("Chicago        8   8  0")
print("Detroit        7   9  0")
print("Minnesota      5  10  1")

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

### 2960

In [19]:
import sys

n, k = map(int, sys.stdin.readline().rstrip().split(" "))

prime = [True] * (n+1)

cnt = 0

for i in range(2, n+1):
  for j in range(i, n+1, i):
      if prime[j]:
        prime[j] = False
        cnt += 1

        if cnt == k:
          print(j)

7 3
6

---

## HackerRank

### Exceptions

In [ ]:
t = int(input())

for i in range(t):

    try:
        a, b = map(int, input().split(" "))
        print(a//b)

    except Exception as e:
        print("Error Code:",e)