<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/23%EB%85%84/12%EC%9B%94/12%EC%9B%94%204%EC%A3%BC%EC%B0%A8/1226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 4714

In [ ]:
while True:
  s = float(input())

  if s == -1.0:
    break

  else:
    res = s * 0.167
    print('Objects weighing %.2f on Earth will weigh %.2f on the moon.' %(s, res))

100.0
Objects weighing 100.00 on Earth will weigh 16.70 on the moon.
12.0
Objects weighing 12.00 on Earth will weigh 2.00 on the moon.
1200000.0
Objects weighing 1200000.00 on Earth will weigh 200400.00 on the moon.
-1

### 2445

In [ ]:
n = int(input())

for i in range(1,n+1):
    print("*" * i + " " * 2*(n-i) + "*" * i)
for j in range(1,n):
    print("*"* (n-j) + " " * 2*j + "*" * (n-j))

5
*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

### 28446

In [3]:
import sys

t = int(sys.stdin.readline().rstrip())
box = {}

for _ in range(t):

  raw = list(map(int, sys.stdin.readline().rstrip().split()))
  if len(raw) == 2:
    ball = raw[1]
    print(box[ball])
  elif len(raw) == 3:
    num = raw[1]
    ball = raw[2]
    box[ball] = num

5
1 5 900
1 7 300
1 15 100
2 300
7
2 100
15

## CodeTree

### 이진수 출력 2

In [ ]:
n = int(input())
ans = []
for i in range(2**n):
    binary_str = format(i, f'0{n}b')
    if '00' not in binary_str:
        ans.append(binary_str)

ans.sort(reverse = True)
for a in ans:
    print(a)

### 알파벳에 따른 평가

In [ ]:
s = input()

if s == 'S':
    print('Superior')

elif s == 'A':
    print('Excellent')

elif s == 'B':
    print('Good')

elif s == 'C':
    print('Usually')

elif s == 'D':
    print('Effort')

else:
    print('Failure')