<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/23%EB%85%84/12%EC%9B%94/12%EC%9B%94%204%EC%A3%BC%EC%B0%A8/vacation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1221

#### 28097

In [ ]:
n = int(input())

num = list(map(int, input().split()))

hap = -8
for n in num:
  hap += n + 8
print(hap//24, hap%24)

1
10
0 10

### 1222

#### 13496

In [ ]:
num = int(input())

for i in range(num):
    n, s, d = map(int, input().split())

    hap = 0
    for j in range(n):
        dist, v = map(int, input().split())

        if(d * s >= dist):
            hap += v

    format_ = f"Data Set {i+1}:"
    print(format_); print(hap); print();

2
3 20 31
42 70
1000 2000
512 121
Data set 1:
191

3 10 3
29 1
30 2
31 4
Data set 2:
3

### 1223

In [ ]:
while True:
    try:
        s = input()

        if s == '':
            break

        else:
            tmp = ''
            for c in s:
                if c == 'e':
                    tmp += 'i'
                elif c == 'i':
                    tmp += 'e'
                elif c == 'E':
                    tmp += 'I'
                elif c == 'I':
                    tmp += 'E'
                else:
                    tmp += c
            print(tmp)

    except EOFError:
        break

Alan Pagi
Alan Page
John Hiesman
John Heisman
Justen Forsitt
Justin Forsett

### 1224

In [1]:
t = int(input())

for _ in range(t):
  n, m = map(int, input().split())

  if n >= m:
    print('MMM BRAINS')

  else:
    print('NO BRAINS')

3
4 5
NO BRAINS
4 4
MMM BRAINS
3 4
NO BRAINS