<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/5%EC%9B%94/5%EC%9B%94%204%EC%A3%BC%EC%B0%A8/0522.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 15652

In [18]:
import sys
import itertools

n, m = map(int, sys.stdin.readline().strip().split(" "))
num_list = [ i for i in range(1, n+1)]

arr = itertools.combinations_with_replacement(num_list, m) 

for i in arr:
  print(*i)

3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

- 중복조합         
`itertools.combinations_with_replacement(num_list, m) `

### 13414

In [19]:
import sys

k, l = map(int, sys.stdin.readline().strip().split(" ")) # k = availbale, l = total list length

person = {}
cnt = 0

for i in range(l):
  candidate = sys.stdin.readline().strip()
  if candidate in person:
      del person[candidate]
      person[candidate] = i
  else:
      person[candidate] = i


for x in person:
    cnt += 1
    if cnt > k:
        break
    print(x)

3 8
20103324
20133221
20133221
20093778
20140101
01234567
20093778
20103325
20103324
20133221
20140101

### 2312

In [38]:
def soinsu(n):
  num = {}
  i = 2
  while i <= n:
    if n%i == 0:
      # num.append(i)
      if i not in num:
        num[i] = 1
      else:
        num[i] += 1
      n //= i
    else:
      i += 1
      
  return num

t = int(input())

for _ in range(t):
  data = soinsu(int(input()))
  for i in data:
    print(i, data[i])

2
6
2 1
3 1
24
2 3
3 1

---

## Programmers

### 특이한 정렬

In [ ]:
def solution(numlist, n):
    answer = []
    raw_data = {}
    
    for i in numlist:
        raw_data[i] = abs(i-n)
    
    raw_data = sorted(raw_data.items(), key = lambda x: (x[1], -x[0]))
    
    for i in raw_data:
        answer.append(i[0])
    
    return answer

### 등수 매기기

In [ ]:
def solution(score):
    n = len(score)
    rank = [1] * n 

    for i in range(n):
        avg = sum(score[i]) / 2  
        for j in range(n):
            if i != j:
                compare_avg = sum(score[j]) / 2
                if avg < compare_avg:
                    rank[i] += 1  
    return rank

### 옹알이(1)

In [ ]:
def solution(babbling):
    answer = 0
    
    for i in range(len(babbling)):
        txt = babbling[i]
        
        while True:
            # or ('ye' in txt) or ('woo' in txt) or ('ma' in txt)
            if ('aya' in txt) :
                txt = txt.replace('aya', '/')
        
            if ('ye' in txt) :
                txt = txt.replace('ye', '/')
            
            if ('woo' in txt) :
                txt = txt.replace('woo', '/')
    
            if ('ma' in txt) :
                txt = txt.replace('ma', '/')
                
            if ('aya' in txt) or ('ye' not in txt) or ('woo' not in txt) or ('ma' not in txt):
                break
        
        txt = txt.replace('/', '')
        
        if len(txt) == 0:
            answer += 1
    
    return answer

### 로그인 성공?

In [ ]:
def solution(id_pw, db):
    answer = ''
    id_ck = False
    pw_ck = False
    
    for i in db:
        if i[0] == id_pw[0]:
            id_ck = True
            if i[1] == id_pw[1]:
                pw_ck = True
                break
    
    if id_ck == True :
        if pw_ck == True:
            answer = 'login'
        else:
            answer = 'wrong pw'
        
    else:
        answer = 'fail'
    
    return answer