<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/3%EC%9B%94/3%EC%9B%94%202%EC%A3%BC%EC%B0%A8/0308.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 5575

In [ ]:
for _ in range(3):
  h1, m1, s1, h2, m2, s2 = map(int, input().split())

  t1 = h1 * 3600 + m1 * 60 + s1
  t2 = h2 * 3600 + m2 * 60 + s2

  t_diff = t2 - t1

  h = ((t_diff//60)//60) % 24
  m = t_diff//60 % 60
  s = t_diff % 60

  print(h, m, s)

9 0 0 18 0 0
9 0 0
9 0 1 18 0 0
8 59 59
12 14 52 12 15 30
0 0 38

### 15700

In [ ]:
n, m = map(int, input().split())
print((n *m) // 2)

1 2
1

---

## CodeTree

### 키를 기준으로 정렬

In [ ]:
n = int(input())
student = {}

for _ in range(n):
    name, height, weight = input().split()
    height = int(height)
    weight = int(weight)

    student[name] = (height, weight)

sorted_student = sorted(student.items(), key=lambda x: x[1][0])

for p in sorted_student:
    print(p[0], *p[1])