<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/3%EC%9B%94/3%EC%9B%94%202%EC%A3%BC%EC%B0%A8/0309.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 19698

In [ ]:
n, w, h, l = map(int, input().split())

one = (w//l) * (h//l)
ans = min(one, n)

print(ans)

7 17 11 5
6

### 6778

In [ ]:
alien = int(input())
eyes = int(input())

if alien >=3 and eyes <= 4:
  print("TroyMartian")

if alien <=6 and eyes >= 2:
  print("VladSaturnian")

if alien <= 2 and eyes <= 3:
  print("GraemeMercurian")

2
3
VladSaturnian
GraemeMercurian

### 4299

In [ ]:
a, b = map(int, input().split())

if a < b:
  print(-1)

elif a >= b:
  c = (a + b) // 2
  d = (a - b) // 2

  if c + d == a and c - d == b:
    print(c, d)

  else:
    print(-1)

3 1
2 1

---

## CodeTree

###  k번째로 신기한 문자열

In [ ]:
n, k, t = map(str, input().split())

n = int(n)
k = int(k)

words = []

for _ in range(n):
    raw = input()
    if raw.startswith(t):
        words.append(raw)

words.sort()
print(words[k-1])