<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/6%EC%9B%94/6%EC%9B%94%201%EC%A3%BC%EC%B0%A8/0603.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 2004

#### 0의 개수이므로, 2와 5의 개수를 세서 더 작은 쪽을 출력

In [2]:
def num_count(n, k):
  count = 0

  while n:
    n //= k
    count += n
  
  return count

n, m = map(int, input().split(" "))

count_5 = num_count(n, 5) - num_count(m, 5) - num_count(n-m, 5)
count_2 = num_count(n, 2) - num_count(m, 2) - num_count(n-m, 2)

print(min(count_5, count_2))

25 12
2

#### 시간초과 : 팩토리얼 사용

In [1]:
import math

n, m = map(int, input().split(" "))

raw_ans = math.factorial(n) / (math.factorial(n-m) * math.factorial(m))
ans = 0

while raw_ans % 10 == 0:
  raw_ans = raw_ans / 10
  ans += 1

print(ans)

25 12
2

### 11004

In [6]:
import sys

n, k = map(int, sys.stdin.readline().strip().split(" "))
num_list = list(map(int, sys.stdin.readline().strip().split(" ")))

num_list.sort()
print(num_list[k-1])

5 2
4 1 2 3 5
2

### 5430

In [23]:
import sys
from collections import deque

t = int(input())

for i in range(t):
  s = input()
  
  n = int(input())
  num = deque(input()[1:-1].split(','))

  if n == 0:
      num = deque()

  check = False

  r = 0
  for c in s:
    if c == 'R':
       r += 1 
    elif c == 'D':
        if not num:
            check = True
            print('error')
            break
        else:
            if r % 2 == 0:
                num.popleft()
            else:
                num.pop()

  if not check:
      if r % 2 == 0:
          print("["+",".join(num)+"]")
      else:
          num.reverse()
          print("["+",".join(num)+"]")

4
RDD
4
[1,2,3,4]
[2,1]
DD
1
[42]
error
RRD
6
[1,1,2,3,5,8]
[1,2,3,5,8]
D
0
[]
error

---

## Programmers

### 나누어 떨어지는 숫자 배열

In [ ]:
def solution(arr, divisor):
    answer = []
    
    for i in arr:
        if i % divisor == 0:
            answer.append(i)
    
    if not answer:
        answer.append(-1)
    
    answer.sort()
    
    return answer

### 핸드폰 번호 가리기

In [ ]:
def solution(phone_number):
    return '*' * (len(phone_number) - 4)+phone_number[-4:]