## 3월 5일 문제풀이

> 브론즈 뽀개기!!!

`푼 문제 수`    7문제        

`참여자` 최숙

### 2440

In [ ]:
num = int(input())

for i in range(num, 0, -1) : 
  print("*"*(i))

5
*****
****
***
**
*

### 3046

In [ ]:
A, B = map(int, input().split())

print((B * 2) - A)

4 3
2

### 9316

In [ ]:
num = int(input())

for i in range(1, num+1):
  print("Hello World, Judge %d!" %i)

3
Hello World, Judge 1!
Hello World, Judge 2!
Hello World, Judge 3!

### 10811

In [9]:
N, M = map(int, input().split())
basket = []

for i in range(1, N+1):
  basket.append(i)

for i in range (0, M):
  i, j = map(int, input().split())
  basket[i-1:j] = basket[i-1:j][::-1]   # [::-1] 사용해서 역순으로

print(*basket)

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

### 10813

In [15]:
N, M = map(int, input().split())
basket = []

for i in range(1, N+1):
  basket.append(i)

for i in range (0, M):
  i, j = map(int, input().split())
  tmp = basket[i-1]

  basket[i-1] = basket[j-1]
  basket[j-1] = tmp

print(*basket)

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

### 10810

In [22]:
N, M = map(int, input().split())
basket = []

for i in range(1, N+1):
  basket.append(0)

for i in range (0, M):
  i, j, k = map(int, input().split())
  for indx in range (i-1, j):
    basket[indx] = k

print(*basket)

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

### 10989

In [ ]:
import sys

N = int(sys.stdin.readline())
answer_list = [0] * 10001

for i in range(N):
  answer_elementary = int(sys.stdin.readline())
  answer_list[answer_elementary] = answer_list[answer_elementary] + 1

for i in range(10001):
  if answer_list[i] != 0 :
    for j in range(answer_list[i]):
      print(i)