<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/0321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 2845

In [ ]:
L, P = map(int, input().split())

data = list(map(int, input().split()))

for i in data:
  if L * P == i :
    print(0, end = " ")
  
  else:
    print(i - (L * P), end = " ")

5 20
99 101 1000 0 97
-1 1 900 -100 -3

### 2953

In [6]:
first = list(map(int, input().split()))
second = list(map(int, input().split()))
third = list(map(int, input().split()))
fourth = list(map(int, input().split()))
fifth = list(map(int, input().split()))

if sum(first) == max(sum(first),sum(second),sum(third),sum(fourth),sum(fifth)) :
  print("%d %d" %(1, sum(first)) )

elif sum(second) == max(sum(first),sum(second),sum(third),sum(fourth),sum(fifth)) :
  print("%d %d" %(2, sum(second)) )

elif sum(third) == max(sum(first),sum(second),sum(third),sum(fourth),sum(fifth)) :
  print("%d %d" %(3, sum(third)) )

elif sum(fourth) == max(sum(first),sum(second),sum(third),sum(fourth),sum(fifth)) :
  print("%d %d" %(4, sum(fourth)) )

elif sum(fifth) == max(sum(first),sum(second),sum(third),sum(fourth),sum(fifth)) :
  print("%d %d" %(5, sum(fifth)) )

4 4 3 3
5 4 3 5
5 5 2 4
5 5 5 1
4 4 4 4
2 17

### 12605

In [17]:
N = int(input())

for i in range(0, N):
  ans = list(input().split(" "))
  ans = ' '.join(ans[::-1])
  print('Case #%d: %s' %((i+1), ans))

2
this is a test
Case 1: test a is this
foobar
Case 2: foobar