<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/11%EC%9B%94/11%EC%9B%94%205%EC%A3%BC%EC%B0%A8/1130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 5134

In [ ]:
t = int(input())

for index in range(1, t+1):
  discount = {}
  n, m = map(int, input().split())
  for _ in range(n):
    item = list(map(str, input().split()))

    quantity = int(item[0])
    ori_price = float(item[1][1:])
    dis_price = float(item[2][1:])
    item_name = (' '.join(item[3:])).lower()

    discount[item_name] = [quantity, ori_price - dis_price]

  ans = 0

  for _ in range(m):
    needs = list(map(str, input().split()))
    need_quantity = int(needs[0])
    need_item = (' '.join(needs[1:])).lower()

    if need_item in discount:
      if discount[need_item][0] >= 0:
        if discount[need_item][0] > need_quantity:
          discount[need_item][0] -= need_quantity
          ans += need_quantity * discount[need_item][1]

        else:
          ans += discount[need_item][0] * discount[need_item][1]
          discount[need_item][0] = 0

  if t == 1:
      print("Data Set %d:" %index)
      print("$%.2f" %ans)

  else:
      if index != t:
          print("Data Set %d:" %index)
          print("$%.2f" %ans)
          print(" ")
      else:
          print("Data Set %d:" %index)
          print("$%.2f" %ans)

1
2 3
3 $3.00 $3.00 Mango Sorbet
2 $6.00 $4.50 TV dinner
1 Mango Sorbet
3 tv dinner
1 nacho cheese
Data Set 1:
$3.00

### 26314

In [ ]:
import sys

vowel = ['a', 'e', 'i', 'o', 'u']

n = int(sys.stdin.readline().rstrip())

for _ in range(n):
  s = sys.stdin.readline().rstrip()
  cnt = 0

  for c in s:
    if c in vowel:
      cnt += 1
  if len(s) - cnt < cnt:
    print(s)
    print(1)
  else:
    print(s)
    print(0)

4
ali
1
arup
0
travis
0
orooji
1

---

## CodeTree

### 수 전부 이어 붙이기

In [ ]:
n = int(input())

nums = list(map(int, input().split()))
tmp = ''
for num in nums:
    tmp += str(num)

for i in range(0, len(tmp), 5):
    print(tmp[i:i+5])