<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/12%EC%9B%94/12%EC%9B%94%202%EC%A3%BC%EC%B0%A8/1209.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 10995

In [ ]:
N = int(input())

if N == 1:
    print('*')

else:
    for n in range(N):
        if n % 2 == 0:
            a = print('* ' * N)
        else:
            b = print(' *' * N)

## CodeTree

### 문자열 여러 번 뒤집기

In [ ]:
def solution(my_string, queries):
    answer = ''

    for query in queries:
        s = query[0]
        e = query[1]

        my_string = my_string[:s] + my_string[s:e+1][::-1] + my_string[e+1:]
        answer = my_string

    return answer