<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/bigdata-analysist-certificate/demo/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 작업 1유형

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')

### Question1

마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [2]:
display(df)

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,14023,47,technician,married,secondary,no,1167,yes,no,cellular,30,apr,1,87,5,failure,yes
12866,17259,31,unknown,married,secondary,no,111,no,no,cellular,21,nov,2,93,2,failure,yes
12867,15200,37,unemployed,single,tertiary,no,1316,yes,no,cellular,18,nov,1,172,2,failure,no
12868,13775,42,management,married,tertiary,no,479,yes,no,unknown,28,may,2,-1,0,unknown,no
12869,20137,24,services,single,secondary,no,0,no,no,unknown,16,may,1,-1,0,unknown,no

In [5]:
def ages(x):
  if 0 <= x < 10:
    return 0
  elif 10 <= x < 20:
    return 10
  elif 20 <= x < 30:
    return 20
  elif 30 <= x < 40:
    return 30
  elif 40 <= x < 50:
    return 40
  elif 50 <= x < 60:
    return 50
  elif 60 <= x < 70:
    return 60
  elif 70 <= x < 80:
    return 70
  elif 80 <= x > 90:
    return 80
  else:
    return 90

In [7]:
df['age_class'] = df.age.apply(ages)

In [12]:
print(df.value_counts('age_class').head(1).index[0])

30

### Question2

마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [14]:
print(df.value_counts('age_class').head(1).values[0])

5056

### Question3

나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [20]:
df3 = df[(df.age >= 25) & (df.age < 29)]

In [21]:
print(len(df3[(df3['housing'] == 'yes')]))

504

### Question4

numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12870 entries, 0 to 12869
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         12870 non-null  int64
 1   age        12870 non-null  int64
 2   job        12870 non-null  object
 3   marital    12870 non-null  object
 4   education  12870 non-null  object
 5   default    12870 non-null  object
 6   balance    12870 non-null  int64
 7   housing    12870 non-null  object
 8   loan       12870 non-null  object
 9   contact    12870 non-null  object
 10  day        12870 non-null  int64
 11  month      12870 non-null  object
 12  campaign   12870 non-null  int64
 13  pdays      12870 non-null  int64
 14  previous   12870 non-null  int64
 15  poutcome   12870 non-null  object
 16  y          12870 non-null  object
 17  age_class  12870 non-null  int64
dtypes: int64(8), object(10)
memory usage: 1.8+ MB

In [28]:
df.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome', 'y', 'age_class'],
      dtype='object')

In [29]:
lst = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

In [33]:
ans = {}
for i in lst:
  ans[i] = len(df[i].unique())

In [52]:
res = pd.DataFrame([ans], index = ['빈도']).T
cols = list(res.sort_values('빈도', ascending = False).head(2).index)
print(*cols)

job month

### Question5

balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [56]:
print(df[(df.balance >= df.balance.mean())].sort_values('ID', ascending = False).head(100).mean().balance)

3473.73

<ipython-input-56-15212cab3852>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df[(df.balance >= df.balance.mean())].sort_values('ID', ascending = False).head(100).mean().balance)

### Question6

가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [67]:
print(df.groupby(['day', 'month']).count().sort_values('ID', ascending = False).index[0])

(15, 'may')

### Question7

데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [68]:
from scipy.stats import shapiro

In [69]:
df7 = df[(df.job == 'unknown')]

In [70]:
df7_age = df7.age

In [72]:
s, p = shapiro(df7_age)

In [73]:
print(p)

0.19612720608711243

### Question8

age와 balance의 상관계수를 구하여라

In [75]:
df8 = df[['age', 'balance']].corr()

In [81]:
print(df8['balance'].head(1).values[0])

0.10198734763981462

### Question9

y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [82]:
from scipy.stats import chi2_contingency

In [87]:
df9 = pd.crosstab(df.y, df.education)
s = chi2_contingency(df9).statistic
p = chi2_contingency(df9).pvalue

In [88]:
print(p)

7.901201277473551e-29

### Question10

각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [91]:
divorced = df[(df['marital'] == 'divorced')]
married = df[(df['marital'] == 'married')]

In [111]:
df10 = df.groupby('job', as_index = False).marital.value_counts()

In [112]:
df10 = df10[(df10['marital'] != 'single')].reset_index(drop = True)

In [115]:
grouped_df = df10.groupby(['job', 'marital'])['count'].sum().reset_index()

In [120]:
result_df = grouped_df.pivot_table(index='job', columns='marital', values='count', fill_value=0)
result_df['ratio'] = result_df['divorced'] / (result_df['married'])

In [121]:
print(result_df['ratio'].max())

0.2831050228310502

---

## 작업 2유형

In [122]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

In [124]:
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [127]:
train.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [129]:
x_train = train[['age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome']]

x_test = test[['age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'campaign', 'pdays',
       'previous', 'poutcome']]

In [130]:
y_train = train[['ID', 'y']]

In [134]:
print(x_train.isna().sum())
print(x_test.isna().sum())

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

In [137]:
x_train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'campaign', 'pdays', 'previous',
       'poutcome'],
      dtype='object')

In [138]:
print(x_train.info())
print(x_test.info())

columns = ['job', 'marital', 'education', 'default','housing',
       'loan', 'contact', 'month', 'poutcome' ]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12870 entries, 0 to 12869
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        12870 non-null  int64
 1   job        12870 non-null  object
 2   marital    12870 non-null  object
 3   education  12870 non-null  object
 4   default    12870 non-null  object
 5   balance    12870 non-null  int64
 6   housing    12870 non-null  object
 7   loan       12870 non-null  object
 8   contact    12870 non-null  object
 9   day        12870 non-null  int64
 10  month      12870 non-null  object
 11  campaign   12870 non-null  int64
 12  pdays      12870 non-null  int64
 13  previous   12870 non-null  int64
 14  poutcome   12870 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4291 entries, 0 to 4290
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4291 non-null   int64
 1   job        4291 non-null   object
 2   marital    4291 non-null   object
 3   education  4291 non-null   object
 4   default    4291 non-null   object
 5   balance    4291 non-null   int64
 6   housing    4291 non-null   object
 7   loan       4291 non-null   object
 8   contact    4291 non-null   object
 9   day        4291 non-null   int64
 10  month      4291 non-null   object
 11  campaign   4291 non-null   int64
 12  pdays      4291 non-null   int64
 13  previous   4291 non-null   int64
 14  poutcome   4291 non-null   object
dtypes: int64(6), object(9)
memory usage: 503.0+ KB
None

In [139]:
le = LabelEncoder()
for col in columns:
  x_train[col] = le.fit_transform(x_train[col])
  x_test[col] = le.fit_transform(x_test[col])

<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])
<ipython-input-139-fff825fec9da>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train[col] = le.fit_transform(x_train[col])
<ipython-input-139-fff825fec9da>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test[col] = le.fit_transform(x_test[col])

In [144]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12870 entries, 0 to 12869
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      12870 non-null  int64
 1   y       12870 non-null  object
dtypes: int64(1), object(1)
memory usage: 201.2+ KB
None

In [145]:
y_train['y'] = le.fit_transform(y_train['y'])

<ipython-input-145-0fee0cc842ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_train['y'] = le.fit_transform(y_train['y'])

In [140]:
submission

         ID  predict
0     53608      0.0
1     51055      0.0
2     52573      0.0
3     50458      0.0
4     52272      0.0
...     ...      ...
4286  50332      0.0
4287  51293      0.0
4288  54023      0.0
4289  53775      0.0
4290  51945      0.0

[4291 rows x 2 columns]

In [146]:
dct = DecisionTreeClassifier()
model = dct.fit(x_train, y_train)
predict1 = model.predict(x_test)
print(accuracy_score(predict1[:,1], submission['predict']))

0.6662782568165929

In [148]:
submit = pd.DataFrame(data = predict1, columns = y_train.columns)
display(submit.head(5))
submit.to_csv('./result.csv')

      ID  y
0  15762  1
1  14711  1
2  21700  0
3  17422  0
4  15350  1