<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/5%EC%9B%94/5%EC%9B%94%205%EC%A3%BC%EC%B0%A8/0526.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 10990

In [ ]:
n = int(input())

print( ' '*(n-1) + '*' )

for i in range(n-1):
  print( ' ' *( (n-2)-i ) + '*' + ' ' * ((2*i)+1) + '*')

2
 *
* *

### 9325

In [ ]:
t = int(input())

for _ in range(t):
  s = int(input())
  n = int(input())

  price = s

  for _ in range(n):
    q, p = map(int, input().split())
    price += q * p

  print(price)

2
10000
2
1 2000
3 400
13200
50000
0
50000

---

## CodeTree

### 특정 조건 세 정수 비교 2

In [ ]:
a, b, c = map(int, input().split())

nums = [a, b, c]

if b == max(nums) and not (a == b == c):
    print(1, end= ' ')

else:
    print(0, end= ' ')

if a == b == c:
    print(1)

else:
    print(0)