<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/5%EC%9B%94/5%EC%9B%94%205%EC%A3%BC%EC%B0%A8/0527.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 12790

In [ ]:
t = int(input())

for _ in range(t):
  s = []
  lst = list(map(int, input().split()))

  for i in range(4):
    s.append(lst[i] + lst[i+4])
  res = max(s[0], 1) + max(s[1], 1)*5 + max(s[2], 0)*2 + s[3]*2
  print(res)

3
100 100 100 100 0 0 0 0
1000
10 20 30 40 40 30 20 10
500
100 100 100 100 -200 0 400 400
2501

### 4892

In [ ]:
cur = 1

while True:
  n0 = int(input())

  if n0 == 0:
    break

  n1 = 3 * n0

  if n1 % 2 == 0:
    n2 = (n1+1)//2
  else:
    n2 = n1//2

  n3 = 3*n2
  n4 = n3//9

  if n0 == 2*n4:
    print(f"{cur}. even {n4}")
  else:
    print(f"{cur}. odd {n4}")

  cur += 1

37
1. odd 18
38
2. even 19
0

---

## CodeTree

### 숫자 출력하기 4

In [ ]:
n, k = map(int, input().split())

if k == 1:
    for j in range(1, n+1):
        for i in range(1, n+1):
            print(j, end = ' ')
        print(' ')

if k == 2:
    for j in range(n):
        if j % 2 == 0:
            for i in range(1, n+1):
                print(i, end = ' ')
        if j % 2 != 0:
            for i in range(n, 0, -1):
                print(i, end = ' ')
        print(' ')

if k == 3:
    for j in range(1, n+1):
        for i in range(1, n+1):
            print(i * j, end = ' ')
        print(' ')