<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/25%EB%85%84/8%EC%9B%94/8%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0816.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 33652

In [ ]:
K = int(input())

# 첫 AKARAKA는 7글자, 이후는 4글자만 추가해서 겹치게 만들기
res = "AKARAKA"
for _ in range(K - 1):
    res += "RAKA"  # AKARAKA의 마지막 4글자

print(res)

## Programmers

### 특정 문자 제거하기

In [ ]:
def solution(my_string, letter):
    answer = ''

    for i in range(len(my_string)):
        if my_string[i] != letter:
            answer += my_string[i]

    return answer