<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/5%EC%9B%94/5%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0517.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### BoJ

### 1302

In [6]:
import sys

book_dic = {}
raw_list = []

n = int(sys.stdin.readline().strip())

for i in range(n):
  name = sys.stdin.readline().strip()
  if name in book_dic:
    book_dic[name] +=1
  else:
    book_dic[name] = 1

max_num = max(book_dic.values())

for book_name in book_dic:
    if book_dic[book_name] == max_num:
        raw_list.append(book_name)

raw_list.sort()
print(raw_list[0])

5
top
top
top
top
kimtop
top

### 11399

In [35]:
n = int(input())

atm = {}
time = list(map(int, input().split(" ")))
hap_list = [0] * n 
hap = 0

time.sort()

for i in range(n):
  atm[i] = time[i]

atm = sorted(atm.items(), key = lambda item : item[1] )

hap_list[0] = atm[0][1]

for i in range(1, len(hap_list)):
  hap_list[i] = hap_list[i-1] + sum(time[:i+1]) 

print(hap_list[-1])

5
3 1 4 3 2
32

### 1541

In [26]:
raw_eval = input()

num = []
hap = 0

if '-' in raw_eval:
  evals = raw_eval.split('-')

  for evaluation in evals:
    if evaluation.isdigit():
      num.append(int(evaluation))
    else:
      num_list = list(map(int,evaluation.split('+')))
      hap = sum(num_list)
      num.append(hap)
      hap = 0

  answer = num[0]
  
  for i in range(1, len(num)):
    answer -= num[i]

else:
  evals = list(map(int,raw_eval.split('+')))
  answer = sum(evals)

print(answer)

9-4606+4-2-44-3-5442+2453+9-55
-12609

### 9095

In [30]:
import sys

t = int(sys.stdin.readline().strip())
dp = [0] * 11

dp[1] = 1
dp[2] = 2
dp[3] = 4

for i in range(4, len(dp)):
  dp[i] = dp[i-3] + dp[i-2] + dp[i-1]

for i in range(t):
  n = int(sys.stdin.readline().strip())
  print(dp[n])

3
4
7
7
44
10
274

### 9375

In [ ]:
import sys

t = int(sys.stdin.readline().strip())

for _ in range(t):
  clothes = {}
  n = int(sys.stdin.readline().strip())

  for _ in range(n): 
    name, c_type = map(str, sys.stdin.readline().strip().split(" ")) 
    if c_type in clothes:
      clothes[c_type].append(name)
    else:
      clothes[c_type] = [name]

  cnt = 1

  for i in clothes:
    cnt *= (len(clothes[i])+1)

  print(cnt-1)

---

## Programmers

### 문자열 안에 문자열

In [ ]:
def solution(str1, str2):
    if str2 in str1:
        return 1
    else:
        return 2

### 제곱수 판별하기

In [ ]:
import math
def solution(n):
    if (math.sqrt(n)) % 1 == 0:
        return 1
    return 2

### 세균 증식

In [ ]:
def solution(n, t):
    for i in range(t):
        n *= 2
    return n

### 문자열 정렬하기

In [ ]:
def solution(my_string):
    return ''.join(sorted(list(my_string.lower())))