<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/3%EC%9B%94/3%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 28352

In [ ]:
import math

n = int(input())

if n == 10:
  print(6)

else:
  print(6 * (math.factorial(n)//math.factorial(10)))

17
588107520

### 8674

In [ ]:
a, b = map(int, input().split())

if a % 2 == 1 and b % 2 == 1:
  print(min(a, b))

else:
  print(0)

5 3
3

---

## CodeTree

###  총점 비교

In [ ]:
n = int(input())
students = []

for _ in range(n):
    name, score1, score2, score3 = input().split()
    total_score = int(score1) + int(score2) + int(score3)
    students.append((name, total_score, int(score1), int(score2), int(score3)))

students.sort(key=lambda x: x[1])

for student in students:
    print(student[0], student[2], student[3], student[4])