<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/3%EC%9B%94/3%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0318.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 22015

In [ ]:
a, b, c = map(int, input().split())
lst = [a, b, c]
res = max(lst)*3 - sum(lst)
print(res)

4 6 9
8

### 20232

In [ ]:
indx = int(input())

award_dict = {1995: 'ITMO',
1996: 'SPbSU',
1997: 'SPbSU',
1998: 'ITMO',
1999: 'ITMO',
2000: 'SPbSU',
2001: 'ITMO',
2002: 'ITMO',
2003: 'ITMO',
2004: 'ITMO',
2005: 'ITMO',
2006: 'PetrSU, ITMO',
2007: 'SPbSU',
2008: 'SPbSU',
2009: 'ITMO',
2010: 'ITMO',
2011: 'ITMO',
2012: 'ITMO',
2013: 'SPbSU',
2014: 'ITMO',
2015: 'ITMO',
2016: 'ITMO',
2017: 'ITMO',
2018: 'SPbSU',
2019: 'ITMO'}

print(award_dict[indx])

2006
PetrSU, ITMO

---

## CodeTree

### 줄 세우기

In [ ]:
N = int(input())

students = {}

for i in range(1, N+1):
    h, w = map(int, input().split())
    students[i] = (h, w, i)

def sort_key(student):
    return (-student[0], -student[1], student[2])

sorted_students = sorted(students.items(), key=lambda x: sort_key(x[1]))

for student in sorted_students:
    print(student[1][0], student[1][1], student[0])