<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/5%EC%9B%94/5%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0517.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 9466

In [ ]:
import sys

sys.setrecursionlimit(10**8)

def dfs(x):
    global result, visited
    visited[x] = True
    cycle.append(x)
    number = numbers[x]

    if visited[number]:
        if number in cycle:
            result += cycle[cycle.index(number):]
        return
    else:
        dfs(number)

def count_students_not_in_team(T):
    global visited, numbers, result, cycle
    for _ in range(T):
        N = int(sys.stdin.readline().rstrip())
        numbers = [0] + list(map(int, sys.stdin.readline().rstrip().split()))
        visited = [True] + [False] * N
        result = []

        for i in range(1, N + 1):
            if not visited[i]:
                cycle = []
                dfs(i)

        print(N - len(result))

def main():
    T = int(sys.stdin.readline().rstrip())
    count_students_not_in_team(T)

if __name__ == "__main__":
    main()

### 31833

In [ ]:
n = int(input())

a = list(map(str, input().split()))
b = list(map(str, input().split()))

a_hap = ''
b_hap = ''

for c in a:
  a_hap += c

for c in b:
  b_hap += c

print(min(int(a_hap), int(b_hap)))

5
5 4 3 2 1
1 2 34 5 6
54321

---

## CodeTree

### 특정 규칙에 따른 숫자 출력 2

In [ ]:
n = int(input())
num = 11

for i in range(n):
    for j in range(n):
        if num == 1:
            num = 11
        num -= 2
        print(num, end = ' ')
    print()