### 뒤에서 5등 뒤로

In [ ]:
def solution(num_list):
    num_list.sort()
    answer = num_list[5:]
    return answer

### 전국 대회 선발 고사

In [ ]:
def solution(rank, attendance):
    answer = 0
    
    data = {}
    
    for i in range(len(attendance)):
        if attendance[i] == True:
            data[i] = rank[i]
    
    person_dict = sorted(data.items(), key=lambda x:x[1])
    
    answer = 10000 * person_dict[0][0] + 100 * person_dict[1][0] + person_dict[2][0]
    
    return answer

### 정수 부분

In [ ]:
def solution(flo):
    answer = int(flo)
    return answer

### 문자열 정수의 합

In [ ]:
def solution(num_str):
    num = list(num_str)
    answer = 0
    for i in num:
        answer += int(i)
    return answer

### 문자열을 정수로 변환하기

In [ ]:
def solution(n_str):
    answer = int(n_str)
    return answer