### 커피 심부름

In [ ]:
def solution(order):
    answer = 0
    
    for i in order:
        if i == 'iceamericano' or i == 'americanoice' or i == 'americano' or i == 'anything':
            answer += 4500
        
        if i == 'hotamericano' or i == 'americanohot':
            answer += 4500
        
        if i == 'icecafelatte' or i == 'cafelatteice' or i == 'cafelatte':
            answer += 5000
        
        if i == 'hotcafelatte' or i == 'cafelattehot':
            answer += 5000
        
        
    
    return answer

### 그림 확대

In [ ]:
def solution(picture, k):
    
    n = len(picture)
    m = len(picture[0])

    new_n = n * k
    new_m = m * k

    new_picture = []
    
    for i in range(new_n):
        row = ''
        
        for j in range(new_m):
            row += picture[i//k][j//k]
            
        new_picture.append(row)

    return new_picture

### 조건에 맞게 수열 변환하기 3

In [ ]:
def solution(arr, k):
    answer = []
    
    if k % 2 != 0:
        for i in range(len(arr)):
            arr[i] = arr[i] * k
    else:
        for i in range(len(arr)):
            arr[i] = arr[i] + k
    
    return arr

### I로 만들기

In [ ]:
def solution(myString):
    answer = ''
    
    for i in myString:
        if ord(i) < ord('l'):
            answer += 'l'
        else:
            answer += i
    
    return answer

### 특별한 이차원 배열 1

In [ ]:
def solution(n):
    answer = [[0] * n for _ in range(n)]
    
    num = 1
    
    for i in range(n):
        for j in range(n):
            if i==j:
                answer[i][j] = 1
            
    return answer