## 3월 8일 문제풀이

> 브론즈 뽀개기!!!

---        

`참여자` 최숙

### 2083
[이동하기](https://www.acmicpc.net/problem/2083)

In [ ]:
while True :
  name, age, weight = map(str, input().split())

  if name == "#" and age == "0" and weight == "0":
    break
  
  if int(age) > 17 or int(weight) >= 80 :
    print("%s Senior" %name)

  else :
    print("%s Junior" %name)

Joe 16 34
Joe Junior
Bill 18 65
Bill Senior
Billy 17 65
Billy Junior
Sam 17 85
Sam Senior
# 0 0

### 10786

In [1]:
month = int(input())
day = int(input())

if month < 2 :
  print("Before")

elif month == 2 and day < 18 :
  print("Before")

elif month == 2 and day == 18 :
  print("Special")

elif month == 2 and day > 18 :
  print("After")

elif month > 2 :
  print("After")

1
7
Before

### 6749

In [2]:
third = int(input())
second = int(input()) 

gap = second - third

print(second + gap)

12
15
18

### 10953

In [3]:
T = int(input())

for i in range (0,T):
  A,B = map(int, input().split(","))
  print(A+B)

5
1,1
2
2,3
5
3,4
7
9,8
17
5,2
7