## 3월 12일 문제풀이

> 브론즈 뽀개기!!!

---        

`참여자` 최숙

### 4470

In [ ]:
N = int(input())
line_list = []

for i in range(0, N):
  line = input()
  line_list.append(line)

for i in range(0, len(line_list)):
  print("%d. %s" %(i+1, line_list[i]))

5
Lionel Cosgrove
Alice
Columbus and Tallahassee
Shaun and Ed
Fido
1. Lionel Cosgrove
2. Alice
3. Columbus and Tallahassee
4. Shaun and Ed
5. Fido

### 10814

In [13]:
N = int(input())

ans = []

for i in range(0, N):
  x, y = map(str, input().split())
  ans.append((x,y))

ans.sort(key=lambda x: int(x[0]))

for i in range(0, N):
  print("%d %s" %(int(ans[i][0]), ans[i][1]))

3
21 Junkyu
21 Dohyun
20 Sunyoung
20 Sunyoung
21 Junkyu
21 Dohyun

### 27866

In [15]:
ans = input()
indx = int(input())

print(ans[indx-1])

Sprout
3
r

### 5086

In [17]:
while True :
  a, b = map(int, input().split())
  if a == 0 and b == 0:
    break
  if b % a == 0 :
    print("factor")
  elif a % b == 0 :
    print("multiple")
  else:
    print("neither")

8 16
factor
32 4
multiple
17 5
neither
0 0

### 2751

In [ ]:
import sys

N = int(sys.stdin.readline())
num = []

for i in range(0, N):
    num.append(int(sys.stdin.readline()))

num.sort()

for i in range(0, len(num)):
    print(num[i])