### 11945

In [ ]:
N, M = map(int, input().split())
for _ in range(N):
    print(input()[::-1])

5 7
0010000
0000100
0111010
0101110
0111010
0101110
0010000
0000100
0010000
0000100

### 5717

In [ ]:
while True:
  M, F = map(int, input().split())
  if M == 0 and F == 0 :
    break
  print(M+F)

2 2
4
2 3
5
5 5
10
1 1
2
0 0

### 17388

In [ ]:
S, K, H = map(int, input().split())

if S + K + H >= 100:
  print("OK")

else:
  if min(S, K, H) == S :
    print("Soongsil")  
  elif min(S, K, H) == K :
    print("Korea")  
  elif min(S, K, H) == H :
    print("Hanyang")

19 8 9
Korea

### 2941

In [ ]:
croatia = ["c=", "c-", "dz=", "d-", "lj", "nj", "s=", "z="]

raw = input()

for i in croatia:
  raw = raw.replace(i, "@")

print(len(raw))

ljes=njak
6



``` python
  raw = raw.replace(i, "@")
```

크로아티아 알파벳을 다른 특이한 문자(한 글자)로 바꿔준 다음, 바꾼 문자열의 길이를 센다.