### 2443

In [ ]:
n = int(input())

for i in range(n,0, -1):
  print(' '*(n-i)+"*"*(2*i-1))

5
*********
 *******
  *****
   ***
    *

### 3058

In [4]:
t = int(input())

for i in range(0, t):
  hap = 0
  num = list(map(int, input().split(" ")))
  jjak = []

  for j in num :
    if j % 2 == 0:
      hap = j + hap
      jjak.append(j)
  
  print("%d %d" %(hap, min(jjak)))

2
1 2 3 4 5 6 7
12 2
13 78 39 42 54 93 86
260 42