<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/8%EC%9B%94/8%EC%9B%94%201%EC%A3%BC%EC%B0%A8/0803.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 2246

In [ ]:
condos = []
for _ in range(int(input())):
    distance, price = map(int, input().split())
    condos.append([distance, price])
condos.sort()
min_price = 10001
candidate_count = 0
for condo in condos:
    current_price = condo[1]
    if current_price < min_price:
        min_price = current_price
        candidate_count += 1
print(candidate_count)

### 2435

In [ ]:
if __name__ == '__main__':
    n, k = map(int, input().split())
    temperatures = list(map(int, input().split()))

    max_sum = -float('inf')  # 임시로 가장 작은 값으로 설정
    for i in range(n - k + 1):
        current_sum = 0
        for j in range(k):
            current_sum += temperatures[i + j]
        max_sum = max(current_sum, max_sum)
    print(max_sum)

---

## CodeTree

### 세 수의 합과 평균 구하기 2

In [ ]:
# 세 개의 정수를 입력받기
x, y, z = map(int, input().split())

# 합 계산
total_sum = x + y + z

# 평균 계산 (소수 이하 버림)
average = total_sum // 3

# 결과 출력
print(f"avg {average}")
print(f"sum {total_sum}")