<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/5%EC%9B%94/5%EC%9B%94%201%EC%A3%BC%EC%B0%A8/0506.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1966

In [8]:
from collections import deque
import sys

t = int(sys.stdin.readline().strip())
doc = []

for i in range(t):
  cnt = 0

  n, m = map(int, sys.stdin.readline().strip().split(" "))
  priority = deque(list(map(int, sys.stdin.readline().strip().split(" "))))
  pos = [False for t in range(0,n)]
  pos[m] = True

  doc = []

  while True:
    max_pri = max(priority)

    if priority[0] == max_pri:
      cnt += 1

      if pos[0] == True:
        print(cnt)
        break

      else:
        priority.popleft()
        del pos[0]

    else:
      priority.append(priority[0])
      priority.popleft()

      pos.append(pos[0])
      del pos[0]

3
1 0
5
1
4 2
1 2 3 4
2
6 0
1 1 9 1 1 1
5

### 2805

In [19]:
import sys

n, m = map(int, sys.stdin.readline().strip().split(" "))

tree = list(map(int, sys.stdin.readline().strip().split(" ")))
start, end = 1, sum(tree)

h = max(tree)

while start <= end:
  mid = int((start + end)/2)
  hap = 0

  for t in tree:
    if t > mid:
      hap += t - mid
    
    if hap > m:
      break

  if hap >= m:
    start = mid + 1

  else:  
    end = mid - 1

print(end)

4 7
20 15 10 17
15

#### 시간초과

In [12]:
n, m = map(int, input().split(" "))

tree = list(map(int, input().split(" ")))

h = max(tree)
hap = 0

while True:
  h -= 1

  for i in range(len(tree)):
    if tree[i] > h:
      hap += tree[i] - h

  if hap == m:
    print(h)
    break
  
  else:
    hap = 0

5 20
4 42 40 26 46
36

### 1010

In [28]:
def factorial(n):
  if n > 1:
    return (n * factorial(n-1))
  else:
    return 1

t = int(input())

for i in range(t):
  n, m = map(int, input().split(" "))
  print(factorial(m) // (factorial(m-n) * factorial(n)))

3
2 2
1
1 5
5
13 29
67863915