## 3월 14일 문제풀이

> 브론즈 뽀개기!!!

---        

`참여자` 최숙

### 15680

In [ ]:
N = int(input())

if N == 0 :
  print("YONSEI")

elif N == 1:
  print("Leading the Way to the Future")

### 10817

In [3]:
A, B, C = map(int, input().split())

ans = []
ans.append(A)
ans.append(B)
ans.append(C)

ans.sort()

print(ans[1])

40 40 40
40

### 2441

In [12]:
N = int(input())

for i in range(0, N):
  print(" "*(i) + "*"*(N-i))

5
*****
 ****
  ***
   **
    *