<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/bigdata-analysist-certificate/task1/task1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 다양한 데이터

### 유튜브 인기동영상 데이터

In [2]:
import pandas as pd

In [3]:
data_url = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv'
df = pd.read_csv(data_url)

### 1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [4]:
list(df[df.channelId.isin(df.channelId.value_counts().head(10).index)].channelTitle.unique())

['장삐쭈',
 '총몇명',
 '파뿌리',
 '짤툰',
 '런닝맨 - 스브스 공식 채널',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

데이터 열 이름을 추출할 때, 자신이 찾고자 하는 열의 조건과 해당 열의 조건이 일치하는지 확인하기 위해 `isin` 메소드를 활용해주자.

---

### 2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라.

In [5]:
list(df[df.dislikes > df.likes].channelTitle.unique())

['핫도그TV',
 'ASMR 애정TV',
 '하얀트리HayanTree',
 '양팡 YangPang',
 '철구형 (CHULTUBE)',
 '왜냐맨하우스',
 '(MUTUBE)와꾸대장봉준',
 '오메킴TV',
 '육지담',
 'MapleStory_KR',
 'ROAD FIGHTING CHAMPIONSHIP',
 '사나이 김기훈',
 '나혼자산다 STUDIO',
 'Gen.G esports']

### 3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [6]:
# 채널명을 몇 회 이상 바꿨는지 그 횟수
count = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()

# 1회 이상 채널명을 바꾼 채널 아이디 갯수 세기
len(count[count>1])

71

`drop_duplicates()`를 사용하여 중복적으로 카운트 되는 부분(A -> B , B-> A, A->B)을 제거함.

### 4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

다시 한 번 풀어보기!!

In [7]:
import datetime as dt

# trending_date2 칼럼을 data and time 형태로 변경
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

# 변경한 칼럼을 day_name으로 변환하여 일요일 경우의 카테고리 빈도수를 세서 보여줌.
df.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]

24

### 5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

🌟 다시 풀어보기!

In [8]:
pd.DataFrame(df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index = False).size()).pivot(index='categoryId', columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

1. groupby로 요일 이름과 카테고리 아이디를 먼저 묶는다.         
`df.groupby([df['trending_date2'].dt.day_name(), 'categoryId']`

2. group_by시 인덱스를 제거한 다음 각 카테고리별 사이즈(크기)를 구한다.         
`..., as_index = False).size()`

3. `.pivot`을 사용하여 요일별로 각 카테고리 ID의 갯수를 구한다.

### 6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [32]:
raw = df[df.view_count > 0]
raw['rates'] = raw.comment_count/raw.view_count

ans = list(raw.sort_values(by='rates', ascending=False).head(1)['title'].str.split())
print(' '.join(ans[0]))

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

<ipython-input-32-34b809995a30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw['rates'] = raw.comment_count/raw.view_count

### 7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [34]:
raw = raw[raw.rates!=0]
ans = list(raw.sort_values(by='rates', ascending=True).head(1)['title'])
print(''.join(ans[0]))

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

### 8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [41]:
raw2 = df[(df.likes > 0) & (df.dislikes > 0)]
raw2['rates'] = raw2.dislikes / raw2.likes

ans = list(raw2.sort_values(by='rates').head(1).title.str.split())
print(' '.join(ans[0]))

[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

<ipython-input-41-5bfab6bc8f89>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw2['rates'] = raw2.dislikes / raw2.likes

### 9. 가장 많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [62]:
print(df.groupby('channelTitle').count().sort_values(by='Unnamed: 0', ascending=False).head(1).index[0])

짤툰

df.groupby('channelTitle').count()를 실행하면 'channelTitle'을 인덱스로 설정하고 모든 열에 대해 카운트를 수행한 데이터프레임이 생성됨.       
이 때 'channelTitle'이 인덱스로 이동하면 열 이름이 'channelTitle'로 더 이상 존재하지 않음.         
따라서 'channelTitle' 열을 직접 사용하는 것은 불가능 함.

### 10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [76]:
(df[['title','channelId']].value_counts()>=20).sum()

40

`(df[['title','channelId']].value_counts()>=20)`

이런 식으로 value_count에 바로 조건을 걸어 놓고 계산할 수 있음.