<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/25%EB%85%84/6%EC%9B%94/6%EC%9B%94%204%EC%A3%BC%EC%B0%A8/0628.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 9501

In [ ]:
T = int(input())  # 테스트 케이스 개수

for _ in range(T):
    N, D = map(int, input().split())  # 우주선 개수, 거리
    count = 0  # 도달 가능한 우주선 수

    for _ in range(N):
        v, f, c = map(int, input().split())  # 속도, 연료양, 소비율
        time = D / v  # 거리 ÷ 속도
        fuel_needed = time * c  # 시간 × 소비율

        if fuel_needed <= f:
            count += 1

    print(count)

### Programmers

### 첫 번째로 나오는 음수

In [ ]:
def solution(num_list):
    answer = 0
    check = False

    for i in range(len(num_list)):
        if num_list[i] < 0:
            check = True
            answer = i
            break

    if check == False:
        answer = -1

    return answer