<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/4%EC%9B%94/4%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0415.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 26332

In [ ]:
def calculate_total_cost(items, price):
    if items == 1:
        return items * price
    else:
        return price + (items - 1) * (price - 2)

n = int(input())

for _ in range(n):
    items, price = map(int, input().split())

    total_cost = calculate_total_cost(items, price)

    print(items, price)
    print(total_cost)

2
1 5
1 5
5
3 10
3 10
26

### 30033

In [ ]:
n = int(input())

goal = list(map(int, input().split()))
real = list(map(int, input().split()))

cnt = 0

for i in range(n):
  if goal[i] <= real[i]:
    cnt += 1

print(cnt)

5
5 6 7 8 9
5 5 5 10 10
3

---

## CodeTree

### 숫자 피라미드 3

In [ ]:
n = int(input())

for i in range(1, n+1):
    for j in range(1, i+1):
        print("%d" %(i*j), end=' ')
    print()