<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/4%EC%9B%94/4%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0421.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 10180

In [ ]:
t = int(input())

for _ in range(t):
    n, d = map(int, input().split())
    count = 0

    for _ in range(n):
        v, f, c = map(int, input().split())
        if d * c <= v * f:
            count += 1

    print(count)

### 26340

In [ ]:
t = int(input())

for _ in range(t):
  a, b, times = map(int, input().split())
  first_a, first_b = a, b

  for _ in range(times):
    if a >= b:
      a //= 2

    else:
      b //= 2

  print("Data set: %d %d %d" %(first_a, first_b, times))
  print("%d %d" %(max(a, b), min(a, b)))
  print()

3
60 51 4
Data set: 60 51 4
15 12
3 2 50
Data set: 3 2 50
0 0
3 2 1
Data set: 3 2 1
2 1

## CodeTree

### 완전수

In [ ]:
def divisor_sum(num):
    total = 0
    for i in range(1, num):
        if num % i == 0:
            total += i
    return total

def perfect_number_count(start, end):
    count = 0
    for num in range(start, end + 1):
        if divisor_sum(num) == num:
            count += 1
    return count

start, end = map(int, input().split())
print(perfect_number_count(start, end))