<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/0324.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 5524

In [ ]:
n = int(input())
for i in range(0,n):
  print(input().lower())

3
WatanabE
watanabe
ITO
ito
YamaMoto
yamamoto

### 1065

In [6]:
def hansu(n):
  cnt = 0
  for i in range(1, n+1):
    if i < 100:
      cnt = cnt + 1
    else :
      num = list(map(int, str(i))) # [1,0,0] 형태로 각 숫자를 쪼갬갬
      if num[0]-num[1] == num[1] - num[2]:
        cnt = cnt + 1
  return cnt

ans = int(input())
print(hansu(ans))

110
99

### 24262

In [ ]:
print("1")
print("0")

### 24263

In [7]:
print(input())
print("1")

7
7

### 24264

In [9]:
print(int(input())**2)
print("2")

7
49
2

### 24265

In [11]:
n = int(input())
print(int((n*(n-1))/2))
print("2")

7
21
2