<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/tree/master/ssook/3%EC%9B%94%25205%EC%A3%BC%EC%B0%A8/0330.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 2444

In [3]:
n = int(input())

for i in range(1,n+1):
  print(' '*(n-i)+"*"*(2*i-1))
for i in range(n-1,0, -1):
  print(' '*(n-i)+"*"*(2*i-1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### 10815

In [5]:
n = int(input())
num = set(map(int, input().split(" ")))

m = int(input())
bigyo = list(map(int, input().split(" ")))

for i in range(0,m):
  if bigyo[i] in num:
    print(1, end=' ')
  else:
    print(0, end=' ')

5
6 3 2 10 -10
8
10 9 -5 2 3 4 5 -10
1 0 0 1 1 0 0 1

### 4504

In [6]:
n = int(input())

while True:
  bigyo = int(input())
  if bigyo == 0:
    break
  else:
    if bigyo % n == 0 :
      print("%d is a multiple of %d." %(bigyo, n))
    else:
      print("%d is NOT a multiple of %d." %(bigyo, n))

3
1
1 is NOT a multiple of 3
7
7 is NOT a multiple of 3
99
99 is a multiple of 3
321
321 is a multiple of 3
777
777 is a multiple of 3
0