<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/4%EC%9B%94/4%EC%9B%94%202%EC%A3%BC%EC%B0%A8/0411.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 30658

In [ ]:
while True:
  chk = int(input())

  if chk == 0:
    break
  else:
    nums = []
    for _ in range(chk):
      raw = int(input())
      nums.append(raw)

    nums = nums[::-1]

    for num in nums:
      print(num)

    print(0)

5
3
4
2
5
1
1
5
2
4
3
0
2
1
2
2
1
0
0

### 25991

In [ ]:
n = input()

lines = list(map(float, input().split()))
hap = 0

for line in lines:
  hap += line**3

ans = hap ** (1/3)

print(ans)

3
22.10 2022 1337
2200.6131345362505

---

## CodeTree

### 격자 모양 출력하기

In [ ]:
n, m = map(int, input().split())

grid = [[0] * n for _ in range(n)]

for _ in range(m):
    row, col = map(int, input().split())
    size = row * col
    grid[row - 1][col - 1] = size

for row in grid:
    print(*row)