<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/5%EC%9B%94/5%EC%9B%94%204%EC%A3%BC%EC%B0%A8/0524.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 2721

In [ ]:
def triangular_number(k):
    return k * (k + 1) // 2

def weighted_triangular_sum(n):
    W_n = 0
    for k in range(1, n + 1):
        T_k_plus_1 = triangular_number(k + 1)
        W_n += k * T_k_plus_1
    return W_n

t = int(input())
results = []
for _ in range(t):
    n = int(input())
    results.append(weighted_triangular_sum(n))

for result in results:
    print(result)

4
3
4
5
10
45
105
210
2145

### 2765

In [ ]:
import math

cnt = 0

while True:
    cnt += 1
    data = input().strip()
    if not data:
        break
    r, roll, t = map(float, data.split())
    roll = int(roll)

    if roll == 0:
        break

    distance = (roll * math.pi * r) / (12 * 5280)

    time_hours = t / 3600
    if time_hours > 0:
        speed = distance / time_hours
    else:
        speed = 0

    print(f"Trip #{cnt}: {distance:.2f} {speed:.2f}")

26 1000 5
Trip #1: 1.29 928.20
27.25 873234 3000
Trip #2: 1179.86 1415.84
26 0 1000

---

## CodeTree

### 숫자 출력하기 1

In [ ]:
n, m = map(int, input().split())
cur = 0
for i in range(1, n+1):
    for j in range(1, m+1):
        cur += 1
        print(cur, end = ' ')
    print()