<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/4%EC%9B%94/4%EC%9B%94%201%EC%A3%BC%EC%B0%A8/0402.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 9093

In [5]:
n = int(input())

for i in range(0,n):
  word = list(map(str, input().split()))
  for j in word:
    print(j[::-1], end=" ")

2
We want to win the first prize
eW tnaw ot niw eht tsrif ezirp
I am happy today
I ma yppah yadot

### 1357

In [8]:
x, y = map(str, input().split())

x = int(x[::-1])
y = int(y[::-1])

ans = str(x+y)
ans = int(ans[::-1])

print(ans)

1000 1
2

### 10250

In [9]:
t = int(input())

for i in range(t):
  h, w, n = map(int, input().split())
  num = n//h +1
  floor = n % h

  if n % h == 0:
    num = n//h
    floor = h

  print(floor*100+num)

2
6 12 10
402
30 50 72
1203