<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/4%EC%9B%94/4%EC%9B%94%201%EC%A3%BC%EC%B0%A8/0403.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 9085

In [ ]:
t = int(input())

for i in range(0, t):
  n = int(input())
  ans = list(map(int, input().split()))
  print(sum(ans))

2
5

### 1769

In [20]:
num = str(input())

if len(num) < 1:
  rdata = -1

if len(num) == 1:
  rdata = int(num)

num = list(num)
cnt = 0

while len(num)>1:
  rdata = 0
  for i in num:
    rdata = int(i) + rdata
  num = str(rdata)
  cnt = cnt + 1

print(cnt)
if rdata % 3 == 0:
  print("YES")

else:
  print("NO")

0
NO

### 11283

In [21]:
print(ord(input())-44031)

가
1

### ORD 함수
문자를 유니코드로 변환하는 데 사용함.