<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/24%EB%85%84/2%EC%9B%94/2%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0217.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 26489

In [ ]:
cnt = 0

while True:
  try:
    input()
    cnt += 1
  except EOFError:
    break

print(cnt)

### 6764

In [ ]:
ori = []
for _ in range(4):
  ori.append(int(input()))

ori_set = list(set(ori))

if len(ori_set) == 1:
  print('Fish At Constant Depth')

elif ori[0] < ori[1] and ori[1] < ori[2] and ori[2] < ori[3]:
  print('Fish Rising')

elif ori[0] > ori[1] and ori[1] > ori[2] and ori[2] > ori[3]:
  print('Fish Diving')

else:
  print('No Fish')

1
1
2
1
No Fish

---

## CodeTree

### 짝수이면서 합이 5의 배수인 수

In [ ]:
def ans(n):
    if n % 2 == 0 and (int(str(n)[0]) + int(str(n)[1])) % 5 == 0:
        return True
    else:
        return False

n = int(input())

if ans(n):
    print("Yes")
else:
    print("No")