## 3월 4일 문제풀이

> 브론즈 뽀개기!!!

`푼 문제 수` 20문제   
`참여자` 최숙

### 1271

In [7]:
N,M = map(int, input().split())
print(int(N//M))
print(N%M)

1000 100
10
0

### 2744

In [9]:
raw = input()
print(raw.swapcase())

WrongAnswer
wRONGaNSWER

### 2754

In [11]:
data = input()

if data == "A+" :
  print('4.3') 

elif data == "A0" :
  print('4.0') 

elif data == "A-" :
  print('3.7') 

elif data == "B+" :
  print('3.3')

elif data == "B0" :
  print('3.0')

elif data == "B-" :
  print('2.7')

elif data == "C+" :
  print('2.3') 

elif data == "C0" :
  print('2.0') 

elif data == "C-" :
  print('1.7') 

elif data == "D+" :
  print('1.3')

elif data == "D0" :
  print('1.0')

elif data == "D-" :
  print('0.7')

elif data == "F" :
  print('0.0')

A0
4.0

### 4101

In [13]:
while True :
  N,M = map(int, input().split())

  if N == 0 and M == 0 :
    break

  elif N > M :
    print("Yes")

  else :
    print("No")

1 19
No
4 4
No
23 14
Yes
0 0

### 5337

In [15]:
print("""
.  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.
""")

print(".  .   .")
print("|  | _ | _. _ ._ _  _")
print("|/\|(/.|(_.(_)[ | )(/.")

.  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.

.  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.

### 26711

In [16]:
A = int(input())
B = int(input())

print(A+B)

1977
25
2002

### 10757

In [18]:
A,B = map(int, input().split())

print(A+B)

9223372036854775807 9223372036854775808
18446744073709551615

### 13277

In [19]:
A,B = map(int, input().split())

print(A*B)

893724358493284 238947328947329
213553048277135320552236238436

### 14928

In [21]:
num = int(input())
print(num % 20000303)

123456789123456789123456789123456789123456789123456789123456789123456789
1313652

### 14581

In [23]:
nickname = input()

print(":fan::fan::fan:")
print(":fan::%s::fan:" %nickname)
print(":fan::fan::fan:")

ssook
:fan::fan::fan:
:fan::ssook::fan:
:fan::fan::fan:

### 27434

In [37]:
num = int(input())
ans = 1
for i in range(1,num+1):
  ans = i*ans 

print(ans)

0
1

In [41]:
num = int(input())

for i in range (0, num) :
  pw = input()
  if len(pw) >=6 and len(pw) <= 9 :
    print("yes")
  else:
    print("no")

3
1245125
yes
asdij
no
120318738721
no

### 16170

In [50]:
import datetime

now = datetime.datetime.now()+datetime.timedelta(hours=9)

year = now.year
month = now.month
day = now.day

print(year)
print(month)
print(day)

2023
3
4

### 20492

In [59]:
money = int(input())

ans1 = int(money - (money * 0.22))
ans2 = int(money * 0.8 + (money * 0.2 * 0.78)) 

print("%d %d" %(ans1,ans2))

10000000
7800000 9560000

### 25238

In [70]:
A,B = map(int, input().split())

if A-(A*B*0.01) >= 100:
  print(0)

else : 
  print(1)

90 0
1

### 25314

In [77]:
num = int(input())

loop = num // 4

for i in range(1,loop):
  print("long", end=" ")

print("long int")

20
long long long long long int

### 5522

In [81]:
ans = 0

for i in range (0,5):
  num = int(input())
  ans = ans + num

print(ans)

1
2
3
4
5
15

### 11718

In [ ]:
while True :
  try :
    print ( input() )
  except EOFError:
    break

### 9086

In [88]:
num = int(input())

for i in range(1, num+1) : 
  ans = input()
  print(ans[0], end="")
  print(ans[len(ans)-1], end="")
  print("")

3
ACDKJFOWIEGHE
AE
0
00
AB
AB

### 10039

In [98]:
sum = 0
for i in range(0, 5):
  score = int(input())
  if score < 40 :
    score = 40
  sum = sum + score

print(int(sum/5))

10
65
100
30
95
68