## 3월 7일 문제풀이

> 브론즈 뽀개기!!!

---        

`참여자` 최숙

### 1264
[링크](https://www.acmicpc.net/problem/1264)

In [ ]:
ans = []
while True : 
  cnt = 0
  N = input()

  if N == "#":
    break

  ans = N.lower()

  for i in range (0,len(ans)):
    if ans[i] == "a" or ans[i] == "e" or ans[i] == "i" or ans[i] == "o" or ans[i] == "u":
      cnt = cnt + 1

  print(cnt)

How are you today?
7
Quite well, thank you, how about yourself?
14
I live at number twenty four.
9
#

### 5532

In [13]:
import math
L = int(input())
A = int(input()) # korean
B = int(input()) # math
C = int(input()) # max korean
D = int(input()) # max math

print(L-max(math.ceil(A/C), math.ceil(B/D)))

15
32
48
4
6
7

### 20499

In [16]:
K, D, A = map(int, input().split("/"))

if K + A < D  or D == 0:
  print("hasu")

else:
  print("gosu")

12/4/5
gosu

### 17356

In [18]:
A, B = map(int, input().split())

M = (B-A)/400

print(1/(1+(10**M)))

2000 1800
0.7597469266479578

### 2869

In [30]:
import math
A, B, V = map(int, input().split())

T = (V-B)/(A-B) # 밤에 달팽이가 내려가는 것을 고려하여 V-B로 빼고 분자에 올려 놓음.

print(math.ceil(T))

2 1 5
4