<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/11%EC%9B%94/11%EC%9B%94%201%EC%A3%BC%EC%B0%A8/1105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 4493

In [4]:
t = int(input())

for _ in range(t):
  n = int(input())
  cnt1 = 0
  cnt2 = 0
  for _ in range(n):
    a, b = map(str, input().split())
    if a == b:
      pass
    else:
      if a == 'R' and b == 'P':
        cnt2 += 1
      if a == 'R' and b == 'S':
        cnt1 += 1
      if a == 'P' and b == 'R':
        cnt1 += 1
      if a == 'P' and b == 'S':
        cnt2 += 1
      if a == 'S' and b == 'R':
        cnt2 += 1
      if a == 'S' and b == 'P':
        cnt1 += 1

  if cnt1 > cnt2:
    print("Player 1")
  elif cnt1 < cnt2:
    print("Player 2")
  else:
    print("TIE")

3
2
R P
S R
Player 2
3
P P
R S
S R
TIE
1
P R
Player 1

### 4299

In [12]:
hap, cha = map(int, input().split())
a = 0
b = 0
chk = False
for i in range(0, hap):
  for j in range(i, hap):
    if i + j == hap and j-i == cha:
      chk = True
      print(j, i)
      break

if not chk:
  print(-1)

3 1
2 1

---

## CodeTree

### 20대의 평균나이

In [ ]:
hap = 0
cnt = 0

while True:
    n = input()

    if n.isdigit():
        n = int(n)
        if 20 <= n <= 29:
            hap += n
            cnt += 1
        else:
            break
    else:
        break

if cnt > 0:
    avg = round(hap / cnt, 2)
    print(f"{avg:.2f}")