## 3월 6일 문제풀이

> 브론즈 뽀개기!!!

---        

`참여자` 최숙

### 5543
[이동하기](https://www.acmicpc.net/problem/5543)

In [ ]:
high = int(input())
middle = int(input())
low = int(input())
coke = int(input())
cydar = int(input())

hamburger = min(high, middle, low)
sugar = min(coke, cydar)

price = hamburger + sugar - 50

print(price)

1999
1999
100
189
100
150

### 15963

In [ ]:
N, M = map(int, input().split())

if N == M :
  print(1)

else:
  print(0)

1 1
1

### 15873

In [27]:
ans = []
ans = input()

if len(ans) > 2 and len(ans)!=4 and ans[1]=='0' :
  print(int(ans[0:len(ans)-1])+int(ans[len(ans)-1:len(ans)]))

elif len(ans) > 2 and len(ans)!=4 and ans[len(ans)-1]=='0' :
  print(int(ans[0:1])+int(ans[1:len(ans)]))  

elif len(ans) == 4 :
  print(20)

elif len(ans) == 2 :
  print(int(ans[0])+int(ans[1]))

310
13