<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/4%EC%9B%94/4%EC%9B%94%204%EC%A3%BC%EC%B0%A8/0424.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1032

In [10]:
n = int(input())
files = []

for i in range(n):
  files.append( input() )

res = list(files[0])
for i in range(n):
  for j in range(len(files[0])):
    if res[j] != files[i][j]:
      res[j] = '?'

print(*res, sep='')

2
context.txt
contest.txt
conte?t.txt

### 1436

n번째로 666이 들어가는 수 찾기기

In [11]:
n = int(input())

ori = 666
cnt = 0

while True:
  if '666' in str(ori):
    cnt += 1
  
  if cnt == n:
    print(ori)
    break
  
  ori += 1

2
1666

### 5555

In [20]:
find = input()
n = int(input())

cnt = 0 

for i in range(n):
  raw = input()

  if find in raw*2:
    cnt += 1

print(cnt)

XYZ
1
ZAAAAAAAXY
1