### 24416

In [1]:
n = int(input())

num = [0] * 50
num[1] = num[2] = 1

def fibo(n):
  for i in range(3, n+1):
    num[i] = num[i-1] + num[i-2]
  return num[n]

print("%d %d" %(fibo(n),n-2))

5
5 3

### 2167

In [5]:
import sys
n, m = map(int, sys.stdin.readline().split(" "))

num = []

for _ in range(n):
  num.append(list(map(int, sys.stdin.readline().split(" "))))

k = int(sys.stdin.readline())

for _ in range(k):
  hap = 0
  i,j,x,y = list(map(int, sys.stdin.readline().split(" ")))
  
  for a in range(i-1,x):
    for b in range(j-1 ,y):
      hap += num[a][b]
  
  print(hap)

2 3
1 2 4
8 16 32
3
1 1 2 3
63
1 2 1 2
2
1 3 2 3
36

### 15649

In [11]:
from itertools import permutations

n, m = map(int, input().split(" "))
nums = [i for i in range(1, n+1)]

p = list(permutations(nums, m))

for i in p:
  print(*i)

4 2
1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

### 15650

In [ ]:
import sys
from itertools import combinations

n, m = map(int, sys.stdin.readline().split(" "))
nums = [i for i in range(1, n+1)]

p = list(combinations(nums, m))

for i in p:
  print(*i)

### 2947

In [30]:
num = list(map(int, input().split(" ")))

while True:
  for i in range(len(num)-1):
    if num[i] > num[i+1]:
      tmp = 0
      tmp = num[i]
      num[i] = num[i+1] 
      num[i+1] = tmp
      print(*num, sep=' ')
  
  if num == [1,2,3,4,5]:
    break

2 3 4 5 1
2 3 4 1 5
2 3 1 4 5
2 1 3 4 5
1 2 3 4 5