<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/11%EC%9B%94/11%EC%9B%94%202%EC%A3%BC%EC%B0%A8/1109.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 27522

In [2]:
records = []
for i in range(8):
  record_raw, team = map(str, input().split())
  recode = list(map(int, record_raw.split(':')))

  records.append([recode[0], recode[1], recode[2], team])

records = sorted(records, key = lambda x:(x[0], x[1], x[2]))

team_red = 0
team_blue = 0

for i in range(len(records)):
  if i == 0:
    if records[i][3] == 'R':
      team_red += 10
    elif records[i][3] == 'B':
      team_blue += 10

  if i == 1:
    if records[i][3] == 'R':
      team_red += 8
    elif records[i][3] == 'B':
      team_blue += 8

  if i == 2:
    if records[i][3] == 'R':
      team_red += 6
    elif records[i][3] == 'B':
      team_blue += 6

  if i == 3:
    if records[i][3] == 'R':
      team_red += 5
    elif records[i][3] == 'B':
      team_blue += 5

  if i == 4:
    if records[i][3] == 'R':
      team_red += 4
    elif records[i][3] == 'B':
      team_blue += 4

  if i == 5:
    if records[i][3] == 'R':
      team_red += 3
    elif records[i][3] == 'B':
      team_blue += 3

  if i == 6:
    if records[i][3] == 'R':
      team_red += 2
    elif records[i][3] == 'B':
      team_blue += 2

  if i == 7:
    if records[i][3] == 'R':
      team_red += 1
    elif records[i][3] == 'B':
      team_blue += 1

if team_red == team_blue:
  if records[0][3] == 'R':
    print('Red')
  elif records[0][3] == 'B':
    print('Blue')

else:
  if team_red > team_blue:
    print('Red')
  else:
    print('Blue')

1:52:682 B
1:50:201 R
1:49:003 B
1:49:735 B
1:50:257 R
1:51:134 R
1:49:236 R
1:53:932 B
Red

### 5089

In [3]:
import sys

cnt = 1

while True:
  city = []
  num = int(sys.stdin.readline().rstrip())

  if num == 0:
    break

  for _ in range(num):
    city.append(sys.stdin.readline())

  print('Week %d %d' %(cnt, len(set(city))))
  cnt += 1

5
Wellsford
Ruakaka
Marsden Point
Wellsford
Warkworth
Week 1 4
0

---

## CodeTree

### 행, 열에 대해 대칭인 별 출력

In [3]:
n = int(input())

for i in range(1, n+1):
    for _ in range(n-i, 0, -1):
        print(" ", end = "")
    for _ in range(i):
        print("*", end = " ")
    print()

for i in range(n-1, 0, -1):
    for _ in range(n-i, 0, -1):
        print(" ", end = "")
    for _ in range(i):
        print("*", end = " ")
    print()