<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/4%EC%9B%94/4%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0422.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1924

In [8]:
import calendar
week = ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]

x, y = map(int, input().split(" "))
day = calendar.weekday(2007, x, y)

print(week[day])

1 1
MON

### 11170

In [13]:
t = int(input())

for i in range(t):
  cnt = 0
  n, m = map(int, input().split(" "))

  for i in range(n, m+1):
    cnt += str(i).count('0') 
  print(cnt)

3
0 10
2
33 1005
199
1 4
0

### 16212

In [14]:
import sys
n = int(sys.stdin.readline())
a = list(map(int, sys.stdin.readline().split(" ")))

a.sort()
print(*a)

6
14 5 8 7 1 10
1 5 7 8 10 14