<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/4%EC%9B%94/4%EC%9B%94%204%EC%A3%BC%EC%B0%A8/0427.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 24416

In [ ]:
n = int(input())

num = [0] * 50
num[1] = num[2] = 1

def fibo(n):
  for i in range(3, n+1):
    num[i] = num[i-1] + num[i-2]
  return num[n]

print("%d %d" %(fibo(n),n-2))

5
5 3

### 2167

In [ ]:
import sys
n, m = map(int, sys.stdin.readline().split(" "))

num = []

for _ in range(n):
  num.append(list(map(int, sys.stdin.readline().split(" "))))

k = int(sys.stdin.readline())

for _ in range(k):
  hap = 0
  i,j,x,y = list(map(int, sys.stdin.readline().split(" ")))
  
  for a in range(i-1,x):
    for b in range(j-1 ,y):
      hap += num[a][b]
  
  print(hap)

2 3
1 2 4
8 16 32
3
1 1 2 3
63
1 2 1 2
2
1 3 2 3
36

### 15649

In [ ]:
from itertools import permutations

n, m = map(int, input().split(" "))
nums = [i for i in range(1, n+1)]

p = list(permutations(nums, m))

for i in p:
  print(*i)

4 2
1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

### 15650

In [ ]:
import sys
from itertools import combinations

n, m = map(int, sys.stdin.readline().split(" "))
nums = [i for i in range(1, n+1)]

p = list(combinations(nums, m))

for i in p:
  print(*i)

### 2947

In [ ]:
num = list(map(int, input().split(" ")))

while True:
  for i in range(len(num)-1):
    if num[i] > num[i+1]:
      tmp = 0
      tmp = num[i]
      num[i] = num[i+1] 
      num[i+1] = tmp
      print(*num, sep=' ')
  
  if num == [1,2,3,4,5]:
    break

2 3 4 5 1
2 3 4 1 5
2 3 1 4 5
2 1 3 4 5
1 2 3 4 5

### 1735

In [ ]:
import math

a1, b1 = map(int, input().split(" "))
a2, b2 = map(int, input().split(" "))

num1 = a1*b2 + a2*b1
num2 = b1*b2

gcd = math.gcd(num1, num2)

print("%d %d" %(num1//gcd, num2//gcd))

2 7
3 5
31 35

## Programmers

### 분수의 덧셈

In [ ]:
import math

def solution(numer1, denom1, numer2, denom2):
    answer = []
    
    num1 = (numer1 * denom2) + (denom1 * numer2)
    num2 = denom1 * denom2
    
    gcd = math.gcd(num1, num2)
    
    answer.append(num1//gcd)
    answer.append(num2//gcd)
    
    return answer

### 첫 번째로 나오는 음수

In [ ]:
def solution(num_list):
    answer = 0
    check = False
    
    for i in range(len(num_list)):
        if num_list[i] < 0:
            check = True
            answer = i
            break
            
    if check == False:
        answer = -1
    
    return answer

### 수 조작하기

In [ ]:
def solution(n, control):
    
    for i in control:
        if i == 'w':
            n +=1
        if i == 's':
            n-=1
        if i == 'd':
            n+=10
        if i == 'a':
            n-=10
    
    return n

### 배열 조각하기

In [ ]:
def solution(arr, query):
    answer = []
    
    for i in range(len(query)):
        if i%2 == 0:
            del(arr[query[i]+1:])
        else:
            del(arr[:query[i]])
        
    return arr