<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/8%EC%9B%94/8%EC%9B%94%203%EC%A3%BC%EC%B0%A8/0817.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 25257

In [ ]:
import sys

person = set()

num, types = map(str, sys.stdin.readline().rstrip().split(" "))
num = int(num)

for i in range(num):
  person.add(sys.stdin.readline().rstrip())

if types == 'Y':
  print(len(person))

if types == 'F':
  print(len(person)//2)

if types == 'O':
  print(len(person)//3)

7 Y
lms0806
lms0806
exponetiale
lms0806
jthis
lms0806
leo020630
4

### 27889

In [ ]:
school = input()

if school == 'NLCS':
  print('North London Collegiate School')

elif school == 'BHA':
  print('Branksome Hall Asia')

elif school == 'KIS':
  print('Korea International School')

elif school == 'SJA':
  print('St. Johnsbury Academy')

KIS
Korea International School

---

## HackerRank

### Mean, Var, and Std

In [ ]:
import numpy as np

n, m = map(int, input().split(" "))
raw = []

for i in range(n):
    raw.append(list(map(int, input().split(" "))))

res = np.array(raw)

print(np.mean(res, axis=1))
print(np.var(res, axis=0))
print(round(np.std(res, axis=None), 11))