<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/5%EC%9B%94/5%EC%9B%94%202%EC%A3%BC%EC%B0%A8/0512.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 13241

In [2]:
import math
import sys

a, b = map(int, sys.stdin.readline().strip().split(" "))
print(math.lcm(a,b))

3 5
15

### 1850

In [13]:
import math
import sys

a, b = map(int, sys.stdin.readline().rstrip().split(" "))
gcd = math.gcd(a,b)
print('1' * gcd) #최대공약수 값 만큼 1을 출력해주면 됨.

500000000000000000 500000000000000002
11

### 11656

In [38]:
n = input()
s = list(n)
item = []

for i in range(0,len(n)):
  t = ''
  for c in s[i:]:
    if c != ' ':
      t += c
  item.append(t)

item.sort()

for o in item:
  print(o)

baekjoon
aekjoon
baekjoon
ekjoon
joon
kjoon
n
on
oon