### 14935

In [ ]:
print("FA")

### 2490

In [ ]:
for i in range(0, 3):
  one, two, three, four = map(int, input().split())

  first_front = 0
  first_back = 0

  second_front = 0
  second_back = 0

  third_front = 0
  third_back = 0

  fourth_front = 0
  fourth_back = 0

  front = 0
  back = 0

  if one == 0:
    first_front = first_front + 1

  elif one == 1:
    first_back = first_back + 1

  if two == 0:
    second_front = second_front + 1

  elif two == 1:
    second_back = second_back + 1

  if three == 0:
    third_front = third_front + 1

  elif three == 1:
    third_back = third_back + 1

  if four == 0:
    fourth_front = fourth_front + 1

  elif four == 1:
    fourth_back = fourth_back + 1

  front = first_front + second_front + third_front + fourth_front
  back = first_back + second_back + third_back + fourth_back

  if front == 1 and back == 3:
    print("A")

  elif front == 2 and back == 2:
    print("B")

  elif front == 3 and back == 1:
    print("C")

  elif front == 4 and back == 0:
    print("D")

  elif front == 0 and back == 4:
    print("E")

0 1 0 1
B
1 1 1 0
A
0 0 1 1
B

### 2576

In [4]:
num = 0
num_list = []
sum = 0
for i in range(0,7):
  num = int(input())
  if num % 2 == 1 :
    sum = sum + num
    num_list.append(num)

if sum == 0:
  sum = -1
  print(sum)

else:
  print(sum)
  print(min(num_list))

12
77
38
41
53
92
85
256
41