### 1929

In [ ]:
import sys
import math

N, M = map(int, sys.stdin.readline().split())
arr = [True for _ in range(M+1)]

def prime_num(n):
    for i in range(2, int((math.sqrt(n))+1)):
        if arr[i] == True:
            j = 2
            while i * j <= n :
                arr[i*j] = False
                j = j + 1
    
    for i in range(N,M+1):
        if i > 1:
            if arr[i] == True:
                print(i)

prime_num(M)

### 시간초과 - 1


```python
def prime_num(n):
  for i in range(2,n):
    if n%i == 0:
      return False
  return True

N, M = map(int, input().split())

for i in range(N,M):
  if prime_num(i) == True:
    print(i)
```

### 시간초과 - 2

```python
import sys

def prime_num(n):
  for i in range(2,n):
    if n%i == 0:
      return False
  return True

N, M = map(int, sys.stdin.readline().split())

for i in range(N,M):
  if prime_num(i) == True:
    print(i)
```

### 틀린 답

```python
import sys
import math

def prime_num(n):
  for i in range(2, int((math.sqrt(n))+1)):
    if n%i == 0:
      return False
  return True

N, M = map(int, sys.stdin.readline().split())

for i in range(N,M):
  if prime_num(i) == True:
    print(i)
```

### 1978

In [ ]:
def prime_num(n):
  for i in range(2,n):
    if n%i == 0:
      return False
  return True

num = int(input())
num_list = list(map(int, input().split()))
cnt = 0

for i in num_list:
  if i != 1 :
    if prime_num(i) == True:
      cnt = cnt + 1
print(cnt)

4
1 3 5 15
2

### 7568

In [ ]:
N = int(input())
data = []

for i in range(0, N):
  x, y = map(int, input().split())
  data.append((x,y))

for i in data:
  rank = 1
  for j in data:
    if i[0] < j[0] and i[1] < j[1]: ### 하나씩 비교해서 랭킹에 1을 더해 줌.
      rank = rank + 1
  print(rank, end=" ")

5
55 185
58 183
88 186
60 175
46 155
2 2 1 2 5

### 11050

In [3]:
def factorial(n):
  if n==0:
    return 1
  return n*factorial(n-1)

N, K = map(int, input().split())
print(factorial(N) // ( factorial(K)*factorial(N-K)) )

5 2
10

### 27323

In [4]:
A = int(input())
B = int(input())

print(A*B)

100
1
100

### 1427

In [13]:
raw = int(input())
raw = list(str(raw))
raw.sort(reverse=True)

for i in raw:
  print(i, end="")

500613009
965310000

### 1676

In [17]:
def factor(n):
  if n == 0:
    return 1
  else:
    return n * factor(n-1)

N = int(input())
raw_dt = factor(N)
cnt = 0

while True:
  if raw_dt % 10 != 0:
    break
  else:
    raw_dt = raw_dt // 10
    cnt = cnt + 1
    continue

print(cnt)

3
0