<a href="https://colab.research.google.com/github/ssook1222/1Day-1Algo/blob/master/ssook/25%EB%85%84/5%EC%9B%94/5%EC%9B%94%204%EC%A3%BC%EC%B0%A8/0527.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BoJ

### 33192

In [ ]:
n = int(input())

for _ in range(n):
    x, k, h = map(int, input().split())

    # Holiday pay (always at 2x rate)
    holiday_pay = h * (2 * x)

    # Remaining normal or overtime hours
    remaining_hours = k - h

    if remaining_hours > 140:
        normal_hours = 140
        overtime_hours = remaining_hours - 140
    else:
        normal_hours = remaining_hours
        overtime_hours = 0

    normal_pay = normal_hours * x
    overtime_pay = overtime_hours * (1.5 * x)

    total_salary = int(holiday_pay + normal_pay + overtime_pay)

    # Print salary with commas
    print(f"{total_salary:,}")

## CodeTree

### 친근하지 않은 수

In [ ]:
n = int(input())
cnt = 0
for i in range(1, n+1):
    if i % 2 != 0 and i % 3 != 0 and i % 5 != 0:
        cnt += 1

print(cnt)